<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>

<div style="float: right; padding: 10px 5px 0 0;">
    <form th:action="@{/logout}">
        <input type="submit" class="button-right" value="Logout">
    </form>
</div>
<div style="float: left; padding: 10px 5px 0 0;">
    <a th:href="@{/user}" th:text="${emailUser.email}"/>
</div>
<br/>
<br/>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${list}">
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getRoles()}"/>
            <td>
                <form th:action="@{/admin/{id}/update(id=${user.getId()})}" th:object="${user}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/admin/new}">
        <button type="submit">Create new user</button>
    </form>
    <br/>

</div>
</body>
</html>