<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save user</title>
</head>
<body>
<h2>Edit user</h2>
<div>

    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <p>
            <label th:for="id">ID</label>
                <input type="text" name="id" th:id="id" th:value="*{id}">
        </p>

        <p>
            <label th:for="name">First name</label>
                <input type="text" name="name" th:id="name" th:value="*{name}">
        </p>
        <p>
            <label th:for="lastName">Last name</label>
                <input type="text" name="lastName" th:id="lastName" th:value="*{lastName}">
        </p>
        <p>
            <label th:for="age">Age</label>
                <input type="text" name="age" th:id="age" th:value="*{age}">
        </p>
        <p>
            <label th:for="email">Email</label>
                <input type="email" name="email" th:id="email" th:value="*{email}">
        </p>
        <p>
            <label th:for="password">Password</label>
            <input type="text" name="password" th:id="password" th:value="*{password}">
        </p>
        <p>
            <label for="roles"><b>Role</b></label>
            <select multiple="multiple" th:field="*{roles}" id="roles">
                <option th:each="role : ${roles}"
                        th:value="${role.getId()}"
                        th:text="${role.getName()}"></option>
            </select>
        </p>
        <br>


        <button type="submit" class="btn btn-outline-primary">Edit</button>
    </form>

    <form th:action="@{/admin}">
        <button type="submit" class="btn btn-outline-secondary">Close</button>
    </form>
</div>

</body>
</html>