<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <b><span class="align-middle" th:text="${user.email}"/></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:text="${user.printRoles()}"></span>
        </div>
        <div><a href="/logout" class="link-secondary link-underline-opacity-0">Logout</a></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="/admin" th:if="${user.printRoles().contains('ADMIN')}" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link active" href="/user" sec:authorize="(hasAnyRole('ADMIN', 'USER'))" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <div class="p-0 col-10 bg-light" style="height: 100vh">
            <div class=" p-4">
                <h1>User information-page</h1>
                <div class="card my-3">
                    <div class="card-header">
                        <h5 class="card-title my-1">About user</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped border-top">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}">
                                <td th:text="${user.getId()}"/>
                                <td th:text="${user.getName()}"/>
                                <td th:text="${user.getLastName()}"/>
                                <td th:text="${user.getAge()}"/>
                                <td th:text="${user.getEmail()}"/>
                                <td th:text="${user.printRoles()}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
</script>
</body>
</html>